.searched{
    height: 52px;
    width: 100%;
    padding:  26px 18px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color:#B2B7BF;
    background-color: #5A5C66;
    border: none;
    margin-top: 23px;
}
.selected{
    height: 52px;
    width: 100%;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color:#B2B7BF;
    background-color: #5A5C66;
    border: none;
    margin-top: 23px;
}