.tableMain{
    margin-top: 15px;
    
}
thead{
    background-color:#474955;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    font-style: normal;
    height: 54px;
    
}
.paginationMain{
    width: 100px;
}
.thContainer{
    min-width: 84px;
}

  
.thContainer span{
    margin-right: 34px;
}

.rotate {
    transform: rotate(180deg);
}